/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

/*@import "compass/reset";*/

$seashell: #f1f1f1;
$black: #000000;
$Schnellnavigation: #58585A;
$mid-gray: #717172;
$french-gray: #B4B4B5;
$esvrot: #C40125;

.navi2 {
  font-size: 12px;
}
.navi2 a:not(:last-child):after {
  content: '  |  ';
}

.debug {
  margin-bottom: 50px;
  > * {
    text-align: center;
  }
  > *:nth-child(even) {
    background-color: lightsteelblue;
  }
}