/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$seashell: #f1f1f1;
$black: #000000;
$Schnellnavigation: #58585A;
$mid-gray: #717172;
$french-gray: #B4B4B5;
$esvrot: #C40125;

/*** Colors ***/

body {
  width: 1000px;
  margin: 10px auto;
  color:
    lighten($black, 20%);
}

header {
  color: $esvrot;
}

