<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
	<meta charset="utf-8" />

	<!-- Set the viewport width to device width for mobile -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>Welcome to Foundation</title>

	<!-- Included CSS Files -->
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/general_foundicons.css">
    <!--[if IE7]>
    <link rel="stylesheet" href="/css/general_foundicons_ie7.css">
    <![endif]-->
    <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="/css/print.css" media="print" rel="stylesheet" type="text/css" />
    <!--[if IE]>
    <link href="/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->

	<script src="/js/foundation/modernizr.foundation.js"></script>

</head>
<body>

<nav>
    <a href=""></a>
</nav>

{% block CONTENT %}

    <h1>Test Test Test Test Test </h1>
    <p>Hello world! This is HTML5 Boilerplate.</p>

{% endblock %}

	<!-- Included JS Files (Uncompressed) -->
	<script src="/js/foundation/jquery.js"></script>
	<script src="/js/foundation/jquery.foundation.forms.js"></script>
	<script src="/js/foundation/jquery.foundation.navigation.js"></script>
	<script src="/js/foundation/jquery.foundation.buttons.js"></script>
	<script src="/js/foundation/jquery.event.move.js"></script>
	<script src="/js/foundation/jquery.foundation.alerts.js"></script>
	<script src="/js/foundation/jquery.foundation.orbit.js"></script>
	<script src="/js/foundation/jquery.placeholder.js"></script>
	<script src="/js/foundation/jquery.foundation.tooltips.js"></script>
	<script src="/js/foundation/jquery.foundation.accordion.js"></script>
	<script src="/js/foundation/jquery.foundation.reveal.js"></script>
	<script src="/js/foundation/jquery.foundation.mediaQueryToggle.js"></script>
	<script src="/js/foundation/jquery.event.swipe.js"></script>
	<script src="/js/foundation/jquery.foundation.joyride.js"></script>
	<script src="/js/foundation/jquery.foundation.clearing.js"></script>
	<script src="/js/foundation/jquery.foundation.tabs.js"></script>
	<script src="/js/foundation/jquery.foundation.magellan.js"></script>
	<script src="/js/foundation/jquery.foundation.topbar.js"></script>
	<script src="/js/foundation/jquery.cookie.js"></script>
	

  <!-- Application Javascript, safe to override -->
  <script src="/js/foundation/app.js"></script>
</body>
</html>
