<form method="POST" class="row collapse">

    <div class="ten mobile-three columns">
        <input type="text" />
    </div>

    <div class="two mobile-one columns">
        <a class="button expand postfix"><i class="foundicon-search"></i></a>
    </div>

</form>

<nav class="navi2">
    <a href="#">Kontakt</a>
    <a href="#">Impressum</a>
    <a href="#">Datenschutz</a>
    <a href="#">AGB</a>
    <a href="#">Hilfe</a>
    <span>&nbsp;&nbsp;&nbsp;</span>
    <a href="#">Hilfe zur Suche</a>
</nav>
